.passValidationWrapper {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  background-color: white;
  font-size: 9px;
  padding: 5px;
  padding-top: 12px;
  border: 1px solid #f8f8f8;
  border-radius: 5px;
  background-color: #b4b4b44b;
  clip-path: polygon(0 12%, 19% 12%, 26% 0, 34% 11%, 100% 11%, 100% 100%, 0 100%);
}
