.card-header {
  font-size: 16px;
  font-weight: 700;
}

.contentListHead {
  margin-top: 5vh;
  margin-bottom: 3vh;
}

.contentListHead > img {
  width: 40px;
  padding: 5px;
  background-color: #fdf8e4;
  border-radius: 15px;
  margin-bottom: 15px;
}

.contentListHead > h6 {
  font-size: 1.4rem;
  font-weight: bold;
}

.ShowAllBtn {
  position: absolute;
  left: 40vw;
  border: none;
  padding: 10px 20px 10px 20px;
  color: #ffffff;
  background-color: #ffcb05;
  border-radius: 1.5rem;
  margin-right: 45%;
  margin-bottom: 5vh;
  font-weight: 100;
  font-size: 0.8rem;
}

@media only screen and (max-width: 768px) {
  .ShowAllBtn {
    margin-right: 40%;
  }
}
