.card-header {
  font-size: 16px;
  font-weight: 700;
}

.contentListHead {
  margin-top: 5vh;
  margin-bottom: 3vh;
}

.contentListHead > img {
  width: 40px;
  padding: 5px;
  background-color: #fdf8e4;
  border-radius: 15px;
  margin-bottom: 15px;
}

.contentListHead > h6 {
  font-size: 1.4rem;
  font-weight: bold;
}

.ShowAllBtn {
  position: absolute;
  left: 40vw;
  border: none;
  padding: 10px 20px 10px 20px;
  color: #ffffff;
  background-color: #ffcb05;
  border-radius: 1.5rem;
  margin-right: 45%;
  margin-bottom: 5vh;
  font-weight: 100;
  font-size: 0.8rem;
}

/* reports part */
.reportsWrapper {
  width: 70%;
  margin: 0 auto;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 10px;
  padding: 0;
  position: relative;
  rotate: -0.4deg;
}

.reportsWrapper img {
  width: 60px;
  position: absolute;
  left: 20px;
  top: -17px;
}

.reportsWrapper ul {
  padding: 10px;
}
.reportItem {
  line-height: 28px;
  text-align: justify;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;
}

.reportItem small {
  font-size: 10px;
  color: goldenrod;
}
.reportItem h5 {
  font-size: 16px;
}
.reportItem p {
  font-size: 13px;
  color: rgb(133, 133, 133);
}
.reportItem a {
  color: goldenrod;
  font-size: 10px;
  font-weight: 500;
  padding: 2px 6px;
  border: 1px solid goldenrod;
  border-radius: 10px;
}

.reportItem a:hover {
  background-color: goldenrod;
  color: white;
}
@media only screen and (max-width: 768px) {
  .ShowAllBtn {
    margin-right: 40%;
  }
  .reportsWrapper {
    width: 93%;
    rotate: 0deg;
  }
}
