@font-face {
  font-family: vazir;
  font-weight: 500;
  src: url(../public/assets/fonts/Vazir.ttf);
}

@font-face {
  font-family: vazir;
  font-weight: bold;
  src: url(../public/assets/fonts/Vazir-Bold.ttf);
}

@font-face {
  font-family: vazir;
  font-weight: lighter;
  src: url(../public/assets/fonts/Vazir-Thin.ttf);
}

@font-face {
  font-family: Vazirmatn;
  src: url("../public/assets/fonts/Vazirmatn-FD.ttf") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: Vazirmatn;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

/* cursor */
.cursor-pointer {
  cursor: pointer;
}

/* slider */
.splide__arrow--next {
  margin-right: -54px !important;
  border-radius: 0 5px 5px 0 !important;
}

.splide__arrow--prev {
  margin-left: -54px !important;
  border-radius: 5px 0px 0px 5px !important;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

@media only screen and (max-width: 768px) {
  /* sliders setings */
  .splide__arrow {
    display: none !important;
  }
  .splide__pagination,
  .splide__pagination--ltr,
  .splide__pagination__page {
    display: none !important;
  }
}
