@font-face {
  font-family: vazir;
  font-weight: 500;
  src: url(../public/assets/fonts/Vazir.ttf);
}

@font-face {
  font-family: vazir;
  font-weight: bold;
  src: url(../public/assets/fonts/Vazir-Bold.ttf);
}

@font-face {
  font-family: vazir;
  font-weight: lighter;
  src: url(../public/assets/fonts/Vazir-Thin.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: vazir;
}
